<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.4" 
        id="snooby">
  <author href="http://snooby.co/"
    rim:copyright="Copyright 2013 Amos Chan">Amos Chan</author>
  <name>Snooby</name>
  <description>A Reddit client for Blackberry 10</description>
  <content src="index.html" />
  <license href="http://snooby.co/" />
  <icon src="img/icons/app-114.png" />
  <rim:splash src="img/splash.png" />
  <rim:splash src="img/splash-720.png" />
  <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
  <feature id="blackberry.ui.dialog" required="true" version="1.0.0.0"/>
  <feature id="blackberry.payment" />
  <feature id="blackberry.app" />
  <feature id="blackberry.ui.contextmenu" />
  <feature id="blackberry.ui.toast" />
  <access uri="http://redditmedia.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  </access>
  <access uri="https://reddit.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  </access>
  <access uri="http://reddit.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  </access>
</widget>

